#Dclock {
  height: 90vh;
  width: 100%;
  font-size: 100px;
  font-family: "Monoton", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#time {
  position: relative;
  width: 30%;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: linear-gradient(to top right, blue, pink);
  color: white;
  height: 100vh;
  overflow: hidden;
}
